@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    font-family: 'Muli', sans-serif;
    user-select: none;
    }
    

body {
    display: block;
    background: rgb(253,209,7);
    background: radial-gradient(circle, rgba(253,209,7,1) 0%, rgba(255,244,195,1) 0%, rgba(255,247,213,1) 44%, rgba(255,247,211,1) 75%, rgba(255,255,255,1) 91%);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-size: 400%;
    animation: glower 20s linear infinite;
    }

  ul{
    float: right;  
    list-style-type: none;
    margin-top: 30px;
    font-size: larger;

  }

    ul li{
      display: inline-block;
    }

      ul li a{
      text-decoration: none;
      color: rgb(2, 2, 2);
      padding: 5px 20px;
      font-weight: bold;
      transition: 0.6s ease;
    }
    ul li a:hover{
        background-color: rgb(248, 211, 0);
        color: rgb(0, 0, 0);
     }

    ul li.active a{
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    color: rgb(247, 247, 247);
    }
    .logo {
      color: rgb(248, 211, 0);
      display: block;
      float: left;
      font-size: larger;
      height: 20px;
      padding-top: -5%;
        }
    
    .main{
        display: block;
        max-width: 1200px;
        margin: auto;
    }

    .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .title h1{
        color: #fff;

    }

    .button{
        position: absolute;
        top: 43%;
        left: 68%;
        transform: translate(-50%,-50%);
        }

    .btn{
        border:1px solid rgb(0, 0, 0) ;
        font-size: large;
        font-weight: bold;
        padding: 10px 10px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: 0.6s ease;
    }

    .btn:hover{
      background-color: rgb(248, 211, 0);
        color: rgb(0, 0, 0);
        box-shadow: 0 20px 40px rgba(145, 92, 182, .4);
        
    }

    .btno{
        border:1px solid rgb(0, 0, 0) ;
        font-size: large;
        font-weight: bold;
        padding: 10px 10px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: 0.6s ease;
    }

    .btno:hover{
      background-color: rgb(248, 211, 0);
        color: rgb(0, 0, 0);
        box-shadow: 0 20px 40px rgba(145, 92, 182, .4);
    }

    .content {
            display: block;
            color: rgb(0, 0, 0);
            font-family: monospace;
            position: absolute;
            font-weight: bold;
            top: 350px;
            right: 200px;
            width: 500px;
            height: 100px;
            overflow: hidden; 
            border-right: .9em solid rgb(0, 0, 0); 
            overflow: hidden;
            white-space: pre-line; 
            margin: 0 auto; 
            animation: 
              typing 8.5s steps(50, end),
              blink-caret 1.5s step-end infinite;
          }
    
      .Kiyan img{
        display: block;
        position: absolute;
        float: right;
        margin-top: 8%;
        padding-left: 16%;
        width: 400px;
      }

      @keyframes typing {
      from { width: 0 }
      to { width: 30% }
      }

      
  

      @keyframes blink-caret {
      from, to { border-color: transparent }
      50% { border-color: rgb(0, 0, 0) }
      }
    

  
      
      @keyframes glower {
        0% {
          background-position: 0 0;
        }
        
        50% {
          background-position: 400% 0;
        }
        
        100% {
          background-position: 0 0;
        }
      }

      .name{
        display: block;
        float: right;
        margin-top: 7%;
        margin-right: -40%;
        font-size: xx-large;
      }

    
      








