@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
    margin: 0px;
    padding: 0;
    font-family: 'Muli', sans-serif;
    
}
ul {
    list-style: none;
}

a{
    color: #ffffff;
    text-decoration: none;
}

section{
    width:100%;
    height: 95vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;

}
nav ul li a{
    margin: 30px;
    font-weight: bold;
    color: #0b212f;
    font-size: 15px;
    font-weight: 700;
}
ul li a :hover{
    background-color: rgb(248, 211, 0);
    color: rgb(0, 0, 0);
}
.logo{
    font-weight: bolder;
    font-size: large;
    color: black;
}
body {
    background: rgb(235, 236, 236);
    background: linear-gradient(90deg, rgba(140,169,245,1) 0%, rgba(255,255,255,1) 16%, rgba(230,237,254,1) 84%);
    height: 100vh;
    background-size: cover;
    background-position: center;
    left: -2px;
    top: -2px;
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: glower 20s linear infinite;
    }

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.btn{
    border:1px solid #0b212f ;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.6s ease;
    background-color: #3f71f5;
}
.btn:hover{
    background-color: black;
    color: #fff;
    box-shadow: 0 20px 40px rgba(145, 92, 182, .4);
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: rgb(0, 0, 0);

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1000px) {
  [class*="col-"] {
    width: 100%;
  }
}

#slideshow {
    width: 500px;
    margin:0 auto;
    overflow:hidden;
}

.container {
    width: 1500px; /* 300 x 4 */
    position:relative;
    -webkit-animation:slide 8s ease-in-out infinite;
    -moz-animation:slide 8s ease-in-out infinite;
    -ms-animation:slide 8s ease-in-out infinite;
    -o-animation:slide 8s ease-in-out infinite;
    animation:slide 8s ease-in-out infinite;
}

.container section {
    width:300px;
    height:200px;
    float:right;
}

.container section:nth-child(1) {background-color:green;} 
.container section:nth-child(2) {background-color:orange;}
.container section:nth-child(3) {background-color:blue;}
.container section:nth-child(4) {background-color:red;}

.container:hover {
   animation-play-state:paused;
   -webkit-animation-play-state:paused;
}

@-webkit-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}
@-moz-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}
@-ms-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}
@-o-keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}
@keyframes slide {
    0% {left:0;}
    25% {left:-300px;}
    50% {left:-600px;}
    75% {left:-900px;}
    100% {left:0;}
}
@keyframes glower {
    0% {
      background-position: 0 0;
    }
    
    50% {
      background-position: 400% 0;
    }
    
    100% {
      background-position: 0 0;
    }
  }






